@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {

    --mainColor: #057eab;
    ;
}

 body {
font-family: 'Roboto',
sans-serif;
background-color: #f7f7f7;
height: 100vh;
  
} 

.home {
    height: 90vh;
    background-color: #f7f7f7;
    position: relative;

    opacity: 50%;
}

.home .bg-light {
    background-color: transparent !important;
    border-bottom: 0px solid #057eab;
    ;


}


.navbar-light .navbar-brand {
    color: #057eab;

    font-size: 28px;
    
    
}


.navbar-light .navbar-nav .nav-link {
   


    }
.navbar .nav-link .navbar-brand{
    padding-left: 20px;
}


a.navbar-brand {
    font-size: 30px;
    text-shadow: 1px 0px 1px rgb(185, 185, 185);
    padding-top: 10px;

    
}

.navbar-light .navbar-nav .nav-link:hover {
    background-size: 4px 50px;
    text-decoration: none;
}

.content {
    padding-top: 100px;
}

.carousel-inner .carousel-item {

   
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
    position: center;
    text-shadow: 0px 15px 19px rgba(0, 0, 0, 0.1);
    size: 100px;
}

.carousel-sub{
    
    font-size: 25px;
    color:rgb(0, 0, 0);
}

.carousel-header{
    font-size: 75px;
    
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;

}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #057eab;
    animation: animate 25s linear infinite;
    bottom: -150px;
    opacity: 50%;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 3s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.button {
  
    background: linear-gradient(to right, #048abb, #057eab);
    font-family: 'Raleway',
    sans-serif;

    border: 0px solid ;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 17px;
    padding: 10px;
    width: 150px;
    transition: all 1s;
    cursor: pointer;
    margin: 10px;
   
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 20px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.header {
    background: linear-gradient(to right, #025370, #057eab);
    position: relative;
    height: 8em;
    text-align: center;
}

.header h1 {
    font-size: 2em;
    /* font-family: 'Orbitron', */
        /* sans-serif; */
    color: white;
    text-align: center;
    padding-top: 40px;

}



.content-privacy {
      
    font-size: 1.2em
}
.content-privacy h2 {
    text-align: center;
    font-size: 2em;
   
    font-weight: 700;
    padding-top: 10px;
}

h4.classic {
    
    text-align: left;
    padding-bottom: 10px;
    font-weight: 600;
    padding-top: 10px;
     
}
.dropdown a{
     font-family: 'Roboto',
     sans-serif;
     color: #000;
}
.dropdown a:hover {
   
    color: #048abb;
   
}
.gradient{
    background-image: linear-gradient(to right, red, orange, #057eab, yellow, green, blue, indigo, violet);
    height: 0.2cm;
}


.drop-Menu {
    position: relative;
    display: inline-block;
    padding-top: 30px;
    border-radius: 20px;

}
.form-group input{
     background: rgb(253, 253, 253);
     position: relative;

     border-bottom: 2px solid #057eab;
     width: 25em;
}
.modal-header h3 p{
    text-align: center;
    position: relative;
}
.modal-footer button{
    position: relative;

}
.box{
    background-color: #c9e6f1;
    height: 5em;
}
.footer-main{
    background: linear-gradient(to right, #025370, #057eab );
  
    padding: 7px 7px 7px 7px;
    text-align: center;
    position: absolute;
    
    box-shadow: 0px 0px px 2px #000;
    
   
}
.footer-main a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
 
}

.footer-main a:hover{
    color: #000000;

}
.footer-foot {
    padding-top: 30px;
}
.footer-foot h1{
    font-size: 0.8em;
    text-align: center;
}
@media only screen and (max-width:600px)  {
  .home {
      height: 88vh;

      background-color: rgb(255, 255, 255);
      position: relative;
      opacity: 50%;
  }
  .footer-main {
      background: linear-gradient(to right, #025370, #057eab);
      padding: 7px 7px 7px 7px;
      text-align: center;
      position: absolute;
      box-shadow: 0px 0px px 2px #000;


  }
  .button {

      background: linear-gradient(to right, #057eab, #048abb);
      font-family: 'Raleway',
          sans-serif;

      border: 3px solid #057eab;
      border-radius: 50px;
      color: rgb(255, 255, 255);
      text-align: center;
      font-size: 14px;
      padding: 10px;
      width: 130px;
      transition: all 1s;
      cursor: pointer;
      margin: 10px;

  }

  
  .carousel-header{
      font-size:50px;
  }
  .carousel-sub{
      font-size:28px;
  }
  .navbar-light .navbar-brand {
      color: #057eab;
      font-size: 25px;
  }
  .nav{
      padding-left: 10px;
      

  }
  .content {
      padding-top: 80px;
  }

}




@media only screen and (min-width: 320px) and 
(max-width: 568px) and
 (-webkit-min-device-pixel-ratio: 2) {
.navbar-light .navbar-brand {
    color: #057eab;
    font-size: 27px;
}
.button {

    background: linear-gradient(to right, #057eab, #048abb);
    font-family: 'Raleway',
        sans-serif;

    border: 3px solid #057eab;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 130px;
    transition: all 1s;
    cursor: pointer;
    margin: 10px;

}

/* .drop-Menu:hover .dropdown-content {
    display: block;
    margin: 0 auto;
    width: 200px;
    transition: all 6s;
    padding-top: 20px;
 } */
 .carousel-header {
     font-size: 40px;
     padding-bottom: 30px;
     
 }

 .carousel-sub {
     font-size: 20px;

 }

 .navbar-light .navbar-brand {
     color: #057eab;
     font-size: 22px;
 }

 .nav {
     padding-left: 10px;


 }
 .content{
     padding-top: 70px;
 }

}
@media screen and
 (device-width: 320px) and (device-height: 568px) 
and (-webkit-device-pixel-ratio: 2)
{
    
.button {

    background: linear-gradient(to right, #057eab, #048abb);
    font-family: 'Raleway',
        sans-serif;

    border: 3px solid #057eab;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 120px;
    transition: all 1s;
    cursor: pointer;
    margin: 10px;

}

  .footer-main {
      background: linear-gradient(to right, #025370, #057eab);

      padding: 7px 7px 7px 7px;
      text-align: center;
      position: absolute;

      box-shadow: 0px 0px px 2px #000;


  }

  .footer-main a {
      text-decoration: none;
      color: #ffffff;
      font-size: 0.6em;
      font-family: 'Manjari',
          sans-serif;
  }
  .carousel-header {
      font-size: 30px;
      padding-bottom: 30px;

  }

  .carousel-sub {
      font-size: 20px;

  }
   .navbar-light .navbar-brand {
       color: #057eab;
       font-size: 18px;
   }
 
   .nav {
       padding-left: 10px;


   }
   .drop-Menu{
       font-size: 15px;
   }

   .content {
       padding-top: 70px;
   }

}